@import '../../Theme/_variable.scss';
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

.mix-master-wrapper--works{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin-top: 4vh    
}

.mix-master-work{
    border: 2px solid rgb(196, 162, 14);
    width: 100%;
    display: flex; 
    flex-direction: row;
    align-items: center;
    padding: 1vh;
    margin: 1vh;
    opacity: 0.2;
    // justify-content: center;
    // margin-bottom: 2vh;
    // min-height: 20%;
}

.mix-master-circle--img{
    border: 2px solid rgb(196, 162, 14);
    width: 10vh;
    height: 10vh;
    transition: 1s all;
    cursor: pointer;&:hover{
        border: 2px dashed rgb(67, 112, 133);
    }
}

.mix-master-text{
    display: flex;
    align-items: center;
    text-align: left;
    overflow-wrap: break-word;
    width: 100%;
    font-size: .5rem;
    // white-space: nowrap;
}

.mix-master-number--index{
    align-self: flex-start;
    opacity: 0.6;
    transition: .2s all;
    font-size: 4rem; 
    transition: .4s all;&:hover{
        color: $secondary-color;
    }
}

.mix-master-title--proy{
    font-family: 'Roboto', sans-serif;
    justify-content: flex-start;
    text-overflow: ellipsis;
    color: $primary-color;
    font-size: 1rem;
    transition: .4s all;&:hover{
        opacity: .7 ;
    }
}

.mix-master-title--year{
    color: $primary-color;
    margin-left: 5%;
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
    transition: .4s all;&:hover{
        color: $secondary-color;; 
    }
}

.mix-master-title--desc{
    color: $forth-color;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    margin-top: 2%;
    font-size: .4rem;
}

.mix-master-section--column{
    display: flex;
    flex-direction: column;
    padding-left: 5%;
}

.upDownButton{
    margin: 2vh;
}
.carousel{
    display: flex;
}
.carousel-control-prev{
    display: flex;
    align-self: center;
    justify-content: center;
    width: 12vh;
    order: 0;
}

.carousel-inner{
    order: 1;
}

.carousel-control-next{
    display: flex;
    align-self: center;
    justify-content: center;
    width: 12vh;
    order:2;
}

.sr-only{
    font-size: 4rem;
    opacity: .7;
    transition: .4s all;
    &:hover{
        opacity: 1;
    }
}



.active{
    opacity: 1;
}
@media(max-width: 960px){
    .mix-master-work{
        display: flex; 
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 2vh;
    }
    .mix-master-text{
        text-align: center;
        margin-top: 2vh;
        font-size: 1rem;
    }
    .mix-master-wrapper--works{
        min-height: 75vh;
    }
    .mix-master-number--index{
        order:-1;
        align-self: center;
    }
}
