@import '../../Theme/_variable.scss';

.changeLang{
    padding: .7vh;
    border:  $primary-color 2px solid;
    cursor: pointer;
    font-size: .5rem;
    opacity: .7;
    background-color:$back;
    transition: 1s all;
    color: $forth-color;
    border-radius: 8px;&:hover{
        opacity: .9;
        border:  $forth-color 2px solid;
    }
}


@media(max-width: 960px){

    .changeLang{
        font-size: .6rem;
    }
    
}