.PentagonoWrapper{
width: 200px;
height: 200px;
}

.panel{
    stroke: brown;
    fill: rgba(205, 186, 223, 0.13);
}

.pentBaseback{
    stroke: rgb(165, 42, 99);
    fill: rgba(205, 186, 223, 0.13);
}

.pentBase{
    stroke: rgb(165, 42, 42);
    fill: rgba(205, 186, 223, 0.13);
}