@font-face {
  font-family: 'Leixo';
  src: local('Leixo'), url(./assets/LEIXO-DEMO.ttf) format('truetype');
}

*{
  font-family: Leixo;
  font-size: 1.5rem;
  color: rgb(192, 192, 192);
}

.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-image: url("../src/assets/dedosconsola9.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.navBar{
  position: absolute;
  top: 4%;
  right: 4%;
  display: flex;
  height: 10vh;
  width: 100%;
  align-self: flex-start;
  justify-content: flex-end;
  margin-left: 2vh;
}

.opcion--section{
  display: flex;
  height: 50vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 3;
}

.unboton{
  z-index: 10;
}