@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

@font-face {
  font-family: 'Leixo';
  src: local('Leixo'), url(./assets/LEIXO-DEMO.ttf) format('truetype');
}

*{
  font-family: Leixo;
  font-size: 1.5rem;
  color: rgb(192, 192, 192);
}

.App{
  background-color: rgb(0, 0, 0);
  background-image: url("../src/assets/bkA.png");
  background-repeat: no-repeat;
  overflow: hidden;
  max-height: 100vh;
}

.aboutMeBack{
  background-image: url("../src/assets/PagWebBio.png");
  background-size: 110vw;
}

.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 95vh;
  width: 100%;
  background-size: 100%;
}

.opcion--section{
  display: flex;
  height: 50vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 3;
}

.unboton{
  z-index: 10;
}

.heightAllSections{
  margin-top: 2vh;
  min-height: 70vh;
}