@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  color: whitesmoke;
  font-family: 'Signika', sans-serif;
}

html {
  font-size: calc(12px + (24 - 12) * ((100vw - 200px) / (1920 - 200)));
}